/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

.vercel

/app/Http/Controllers/FirebaseKey.json
/app/Http/Controllers/FirebaseKey_old.json
FirebaseKey_old_2.json
FirebaseKey_old.json
FirebaseKey.json
